<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
  </head>
  <body>
    
    <ul id="messages"></ul>
    <form id="form" action="/users" method="POST">
    <input name="email" type="email" autocomplete="off" />
    <br>
    <input name="name" type="text" autocomplete="off" />
    <br>
    <input type="submit" value="login">
    </form>




  </body>
</html>